body {
    margin: 0;
    padding: 0;
}

#map {
    position: relative;
    height: 100%;
}

#filters {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 3px;
    font-family: sans-serif;
}

.mapbox-directions-profile label {
  width: 50% !important;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.sidebar.collapsed {
  transform: translateX(300px);
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  right: 100%;
  padding: 10px;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  background-color: white;
  border: none;
  outline: none;
}
